*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  width: 25%;
  position: fixed;
  left: 0;
  height: 100%;
  border-right: 3px solid #e6ecf0;
}


.image img{
  height: 150px;
  width: 150px;
  margin-top: 25px;
  margin-left: 50px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  text-align: center;
  font-size: 16x;
}

.email ul{
  padding-left: 35px;
  padding-top: 10px;
   
}

.phone{
  padding-left: 85px ;
  padding-top: 10px;
}

.heading {
  text-align: center;
  padding-top: 10px;
}
ul{
  list-style-type: none;
}

.heading_one {
  padding: 9px;
  color: #000;
}

.logo{
  padding-top: 8px;
}



















